* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 } 
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(189, 74, 189); /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, rgb(189, 74, 189), rgb(127, 213, 223));
  }

  .navContainer {
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #456d96;
    height: 80px;
  }

  nav {
    display: flex;
  }

  nav ul {
    display: flex;
    margin-right: 20px;
  }

  nav ul li {
    list-style: none;
  }

  nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 32px;
    margin: 0px 10px; 
  }

  nav ul li a:hover {
    background-color: rgb(216, 133, 145);
  }

  h1 {
    margin-left: 20px;
    font-size: 44px;
  }

  #even-columns{
    margin-top: 100px;
  }

  #todo-link {
    background-color:rgb(71, 106, 188);
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;   
    font-size: 40px;
    align-self: center;
}

#notecards{
    background-color:rgb(71, 106, 188);
    text-align: right;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    font-size: 40px;
    align-self: center;
}

#spaces {
    opacity: 0;
    font-size: 5px;
    flex-grow: 6;
}

#space {
    opacity: 0;
    font-size: 10px;
}

a:link {
    text-decoration: none;
}


.timetaskflexcontainer {
    display: flex;
}

#newtasks {    
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    background-color: rgb(216, 133, 145);
}

.taskformat {
    color: black;
    text-align: center;
    font-size: 35px;
    text-decoration: underline;

    background-color: rgb(216, 133, 145);
/*
    margin-left: 500px;
    margin-right: 500px;   */ 
}

#tasks {    
    padding-bottom: 500px
}


#newTask-Form {
    justify-content: center;
    text-align: center;
    background-color: rgb(216, 133, 145);
    padding-top: 25px;
    padding-bottom: 25px;
/*
    margin-left: 500px;
    margin-right: 500px;  */  
}

.taskList {
    text-align: center;
    font-size: 25px;
}

.even-columns {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }

.time-container {
    padding-left: 50px;
}

.even-columns2 {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }

#time-hours {
    font-size: 40px;
}

#time-minutes {
    font-size: 40px;
    margin-left: 12px;
}

#time-seconds {
    font-size: 40px;
}

#hour {
    font-size: 35px;
    border: 6px;
    border-radius: 3px;
    height: 60px;
    width: 75px;
    padding: 20px;
    text-align: center;
}

#minute {
    font-size: 35px;
    border: 6px;
    border-radius: 3px;
    height: 60px;
    width: 75px;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    text-align: center;
}

#sec {
    font-size: 35px;
    border: 6px;
    border-radius: 3px;
    height: 60px;
    width: 75px;
    padding: 20px;
    text-align: center;
}

.timerbuttoncontainer {
    display: flex;
    justify-items: center;
}

#start {
    margin-right: 50px;
    width: 65px;
    height: 65px;
    font-size: 50px;
}

#reset {
    width: 65px;
    height: 65px;
    font-size: 40px;
}

.newTask {
    margin-top: 100px
}