body {
    height: 1080px;
    background-color: rgb(189, 74, 189); /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, rgb(189, 74, 189), rgb(127, 213, 223));
}

h2 {
    display: inline-flex; 
    justify-content: center;
    box-pack: center;
    text-align: center;
    color: black;
    font-size: 65px;
    border: 2px dotted black;
    border-radius: 12px;
    position: relative;
}

.titleContainer {
    display: flex;
    justify-content: left;
    color: black;
    font-size: 60px;
}



#todo-link {
    background-color:rgb(71, 106, 188);
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;   
    font-size: 40px;
    align-self: center;
}

#notecards{
    background-color:rgb(71, 106, 188);
    text-align: right;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    font-size: 40px;
    align-self: center;
}

#spaces {
    opacity: 0;
    font-size: 5px;
    flex-grow: 6;
}

#space {
    opacity: 0;
    font-size: 10px;
}

a:link {
    text-decoration: none;
}


.timetaskflexcontainer {
    display: flex;
}

#newtasks {    
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    background-color: rgb(216, 133, 145);
    font-size: 50px;
    padding-top: 12px;
}

.taskformat {
    color: black;
    text-align: center;
    font-size: 35px;
    text-decoration: underline;

    background-color: rgb(216, 133, 145);
}


#tasks {    
    padding-bottom: 740px;
    height: 32px;
    font-size: 18px;
}

#addTask {
    height: 37px;
    font-size: 22px;
}

#newTask-Name {
    height: 37px;
    font-size: 22px;
}

#newTask-Form {
    justify-content: center;
    text-align: center;
    background-color: rgb(216, 133, 145);
    padding-top: 25px;
    padding-bottom: 25px;
}

#non-completed_tasks {
    margin-top: 25px;
    font-size: 40px;
}

.taskList {
    text-align: center;
    font-size: 25px;
}

.even-columns {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }

.time-container {
    padding-left: 50px;
}

.even-columns2 {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }

#time-hours {
    font-size: 40px;
}

#time-minutes {
    font-size: 40px;
}

#time-seconds {
    font-size: 40px;
}

#hour {
    font-size: 35px;
    border: 6px;
    border-radius: 3px;
    height: 60px;
    width: 75px;
    padding: 20px;
    text-align: center;
}

#minute {
    font-size: 35px;
    border: 6px;
    border-radius: 3px;
    height: 60px;
    width: 75px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}

#sec {
    font-size: 35px;
    border: 6px;
    border-radius: 3px;
    height: 60px;
    width: 75px;
    padding: 20px;
    text-align: center;
}

.timerbuttoncontainer {
    display: flex;
    justify-items: right;
}

#start {
    margin-right: 50px;
    width: 65px;
    height: 65px;
    font-size: 40px;
}

#reset {
    width: 65px;
    height: 65px;
    font-size: 40px;
}

#timerthing {
    display: flex;
    justify-content: space-around;
    font-size: 60px;
}