

body {
    background-color: lightblue;
    position: relative;
}

h2 {
    color: black;
    font-size: 60px;
    text-align: center;
    border: 2px dotted black;
    border-radius: 12px;
    text-shadow: 3px 3px 9px rgb(254, 157, 173);
    margin-right: 610px;
    margin-left: 610px;
    position: relative;
}

.newtasks {
    color: black;
    text-align: center;
    font-size: 35px;
    margin-bottom: 25px;
    text-decoration: rgb(255, 178, 191) wavy underline;
}

.tasksleft {
    color: black;
    text-align: center;
    font-size: 35px;
    text-decoration: underline;
}