* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 } 
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(189, 74, 189); /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, rgb(189, 74, 189), rgb(127, 213, 223));
  }

  .navContainer {
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #456d96;
    height: 80px;
  }

  nav {
    display: flex;
  }

  nav ul {
    display: flex;
    margin-right: 20px;
  }

  nav ul li {
    list-style: none;
  }

  nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 32px;
    margin: 0px 10px; 
  }

  nav ul li a:hover {
    background-color: rgb(216, 133, 145);
  }

  h1 {
    margin-left: 20px;
    font-size: 44px;
  }

#todo-link2 {
    background-color:rgb(54, 87, 162);
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;   
    font-size: 40px;
    align-self: center;
}

#notecards2{
    background-color:rgb(54, 87, 162);
    text-align: right;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    font-size: 40px;
    align-self: center;
}

#spaces2 {
    opacity: 0;
    font-size: 5px;
    flex-grow: 6;
}

#space2 {
    opacity: 0;
    font-size: 10px;
}

a:link {
    text-decoration: none;
}

h1 {
    text-align: center;
}


.leftrightbuttoncontainer {
    display: flex;
    justify-content: center;
    margin-right: 23px;
}

#prevCard {
    padding-left: 123px;
    padding-right: 123px;
    font-size: x-large;
    
}

#nextCard {
    padding-right: 123px;
    padding-left: 123px;
    font-size: x-large;
}

#displayNoteCard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 23px;
}

#addTerm {
    height: 300px;
    width: 540px;
    font-size: 45px;
    justify-content: right;
    text-align: center;
    resize: none;
}

#saveTerm{
    font-size: 19px
}
    
#flipCard{
    font-size: 20px

}

#delCard{
    font-size: 20px
}

