#todo-link2 {
    background-color:rgb(54, 87, 162);
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;   
    font-size: 40px;
    align-self: center;
}

#notecards2{
    background-color:rgb(54, 87, 162);
    text-align: right;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    font-size: 40px;
    align-self: center;
}

#spaces2 {
    opacity: 0;
    font-size: 5px;
    flex-grow: 6;
}

#space2 {
    opacity: 0;
    font-size: 10px;
}

a:link {
    text-decoration: none;
}

h1 {
    text-align: center;
}


.leftrightbuttoncontainer {
    display: flex;
    justify-content: center;
    margin-right: 23px;
}

#prevCard {
    padding-left: 123px;
    padding-right: 123px;
    font-size: x-large;
    
}

#nextCard {
    padding-right: 123px;
    padding-left: 123px;
    font-size: x-large;
}

#displayNoteCard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 23px;
}

#addTerm {
    height: 300px;
    width: 540px;
    font-size: 45px;
    justify-content: right;
    text-align: center;
    resize: none;
}

#saveTerm{
    font-size: 19px
}
    
#flipCard{
    font-size: 20px

}

#delCard{
    font-size: 20px
}

